.container{
    display: flex;
    border: 6px solid black;
    flex-wrap: wrap;
    /*justify-content: space-between;
    height: 500px;*/
   
}

.item1{
    background-color: bisque;
}

.item2{
    background-color: orange;
    order: 1;
    flex-grow: 1;
}

.item3{
    background-color: red;
    flex-grow: 1;
}
.item4{
    background-color: blue;
}
.item5{
    background-color: maroon;
}
.item6{
    background-color: blueviolet;
}